// TODO

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    h1{
        font-weight: bold;
        font-size: 2.125rem;
    }

    p{
        font-weight: 400;
        font-size: 1.375rem;
    }
}
