// TODO

.container{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 3rem 4.5rem 3rem;

    h1{
        font-weight: bold;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }

    p{
        transition: font-size 0.05s;
        display: inline-block;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5rem;

        &:first-child{
            color: var(--highlight);

            &:hover{
                text-decoration: underline;
                transition: font-size 0.2s;
                font-size: 1.25rem;
                cursor: pointer;
            }
            
        }
    }

    section{
        margin-top: 1.5rem;

        span{
            display: inline-flex;
            align-items: center;

            &:first-child{
                margin-right: 3rem;
            }

            font-size: 0.875rem;
        }
    }

    &:hover{
        transition: 0.2s;
        transform: scale(1.1);

        cursor: pointer;
    }
}

.icon{
    margin-right: 0.5rem;
}
