.headerContainer{
    display: flex;
    max-width: 720px;
    height: 130px;
    margin: 0 auto;
    align-items: center;
    padding: 0 3rem;

    @media(max-width: 1080px){
        a{
            img{
                width: 240px
            }
        }
    }

    @media(max-width: 720px){
        a{
            img{
                width: 180px;
            }
        }
    }
}